<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Site.Title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- <link href="//db.onlinewebfonts.com/c/44f0409b1051ce819634acacfaa298e5?family=Copyright+Klim+Type+Foundry"
    rel="stylesheet" type="text/css" /> -->
  <link href="//db.onlinewebfonts.com/c/0f4e36d040e4e2610f99e59adc22aa6b?family=Copyright+Klim+Type+Foundry"
    rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>

  <div class="container-fixed">
    <div class="row">
      <div class="col-2 content">
        <div>
          <img src="/images/dd_logo_v_white.png" style="height: 100px;" class="figure-img img rounded" alt="...">

          <ul class="side-bar">
            <li>Product</li>
            <li>doc</li>
            <li>pricing</li>
            <li>customers</li>
            <li>about</li>
            <li>blog</li>
          </ul>
          <div class="login">
            <a class="details-login" href="">Login</a>
          </div>

        </div>

      </div>
      <div class="col-10">
        <div class="upper row">
          <div class="col-4 leftHeader">
            <div>
              <h1>Modern monitoring & analytics</h1>
              <p class="header-text">See inside any stack, any app, at any scale, anywhere</p>
            </div>
            <div>
              <button type="button" class="btn outline-secondary btn-lg">TRY FREE</button>
            </div>
          </div>
          <div class="col-6-fixed pricing">
            <div class="row package-list">
              <div class="col options">
                <div>
                  <header class="opt-1">INFRASTRUCTURE</header>
                  <p class="price-text">Starting at
                    <br>
                    <span class="setPrice">$15</span>
                    <br>
                    Per host, per month*</p>
                  <ul>Centralize your monitoring of systems and services</ul>
                  <li>250 + integrations</li>
                  <li>Out-of-the dashboards</li>
                  <li>15-month metri retention</li>
                </div>
                <div>
                  <a class="details-1" href="">See Details</a>
                </div>
              </div>

              <div class="vl"></div>
              <div class="col options">
                <div>
                  <header class="opt-2">APM</header>
                  <p class="price-text">Starting at
                    <br>
                    <span class="setPrice">$31</span>
                    <br>
                    Per host, per month*</p>
                  <ul>Centralize your monitoring of systems and services</ul>
                  <li>Java, Ruby, Python, Go, Node, and more</li>
                  <li> Out-of-the-box application health dashboards</li>
                  <li>1 million trace events per host included</li>
                </div>
                <div>
                  <a class="details-2" href="">See Details</a>
                </div>
              </div>
              <div class="vl"></div>
              <div class="col options">
                <div>
                  <header class="opt-3">LOGS MANAGEMENT</header>
                  <p class="price-text">Starting at
                    <br>
                    <span class="setPrice">$1.27</span>
                    <br>
                    Per host, per month*</p>
                  <ul>Collect from any source</ul>
                  <li>– Collect from any source</li>
                  <li>Automated & custom processing</li>
                  <li>Fully integrated with Infrastructure and APM</li>
                </div>
                <div>
                  <a class="details-3" href="">See Details</a>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="row bottom-content">
          <div class="col-5" width=557px>
            <!-- first image -->
            <div class="row">
              <div class="container bg-overlay-1">
                <div class="row text-center">
                  <header>APM</header>
                  <p>Get full visibility into modern applications</p>
                </div>
              </div>
            </div>

            <!-- second image  -->
            <div class="row">
              <div class="container bg-overlay-2">
                <div class="row-fluid text-center">
                  <header>LOGS MANAGEMENT</header>
                  <p>Analyze and explore log data in context</p>
                </div>
              </div>
            </div>



            <div class="row no-gutters client-portfolio">
              <div class="col-with-boxes">
                <div class=" tiles">
                  <div class="client-tile-1">
                    <img src="/images/Group 3 (1).png" class="figure-img tile-img-1 " alt="airbnb logo">
                  </div>
                  <div class="client-tile">
                    <img src="/images/Group 19 (1).png" class="figure-img tile-img-2 " alt="peleton logo">
                  </div>
                </div>
                <div>
                  <div class="client-tile-2">
                    <img src="/images/Group 74.png" class="figure-img tile-img-3 " alt="evernote logo">
                  </div>
                  <div class="client-tile-5">
                    <img src="/images/pageduty copy.png" class="figure-img tile-img-4 " alt="paperduty logo">
                  </div>
                </div>
              </div>
              <div class="col-with-client">
                <div class="client-tile-lg">
                  <img src="/images/adroll-logo-2x.png" class="figure-img tile-img-lg " alt="adroll logo">
                  <p class="large-tile-text">

                    “Datadog has been instrumental in managing our real-time infrastructure,
                    globally distributed in
                    5
                    data centers across hundreds of instances, and thousands of different metrics and dimensions for
                    each
                    host. I can't believe there was a time when we didn't have Datadog.”
                    <br>
                    <span>Valentino Volonghi</span>
                    <br>
                    Chief Technology Officer
                  </p>
                  <a href="">See More Stories</a>
                </div>
                <div class="tile-sam-ng">
                  <div class="client-tile-3">
                    <img src="/images/Group 3 (2).png" class="figure-img tile-img-5 " alt="samsung logo">
                  </div>
                  <div class="client-tile-4">
                    <img src="/images/Group 15.png" class="figure-img tile-img-6 " alt="NGINX logo">
                  </div>
                </div>
                <div class="tile-whole-att">
                  <div class="client-tile-6">
                    <img src="/images/Group 18.png" class="figure-img tile-img-7 " alt="wholefoods logo">
                  </div>
                  <div class="client-tile-7">
                    <img src="/images/Group 7.png" class="figure-img tile-img-8 " alt="att logo">
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-5" width=557px>
            <div class="row">
              <div class="container bg-overlay-3">
                <div class="row text-center">
                  <header>INFRASTRUCTURE</header>
                  <p>See across systems, apps, and services</p>
                </div>
              </div>
            </div>
            <div class="row observability">
              <div class="container">
                <div class="blog-box">
                  <div class="top-of-blog-content">
                    <header class="title">Observability</header>
                    <div class="blog-content">
                      <p class="text-before-slide">With turn-key integrations, Datadog seamlessly aggregates metrics and
                        events across
                        the
                        full devops stack</p>
                      <img src="/images/Path 2.png" class='arrow' alt="next-arrow">

                    </div>

                    <a class="text"><small class="text-muted"> Read More</small></a>
                  </div>
                  <div class="scroll">
                    <img src="/images/home-observability.png" class="scroll-img" alt="observability example image">
                    <img src="/images/home-dashboards.png" class="scroll-img" alt="dashboard image">

                  </div>

                </div>

              </div>





              <!-- 
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://i.imgur.com/KjZsiZT.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://i.imgur.com/KjZsiZT.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://i.imgur.com/9CQ6xaT.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div> -->


              <!-- </div> -->

            </div>




          </div>
        </div>
      </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body>

</html>

<!-- 
<div class="card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod asperiores, omnis aut non
        provident nam consequuntur nesciunt necessitatibus modi facilis nostrum beatae ducimus alias temporibus eaque
        pariatur natus qui sint!</div> -->